openapi: 3.1.0
info:
  title: Buildkite REST AccessToken Emojis API
  description: 'Best-effort OpenAPI 3.1 description of the Buildkite REST API for organizations, pipelines,

    builds, jobs, agents, artifacts, annotations, clusters, queues, agent tokens,

    pipeline templates, rules, teams, and access tokens.


    Authentication is via a Bearer token issued from the Buildkite UI.

    '
  version: '2.0'
  contact:
    name: Buildkite
    url: https://buildkite.com/docs/apis/rest-api
servers:
- url: https://api.buildkite.com/v2
  description: Buildkite REST API v2
security:
- bearerAuth: []
tags:
- name: Emojis
paths:
  /organizations/{org}/emojis:
    parameters:
    - $ref: '#/components/parameters/Org'
    get:
      tags:
      - Emojis
      summary: List custom emojis
      operationId: listEmojis
      responses:
        '200':
          description: Emojis
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    url:
                      type: string
components:
  parameters:
    Org:
      name: org
      in: path
      required: true
      description: Organization slug.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token issued from your Buildkite Personal Access Tokens page.
