openapi: 3.1.0
info:
  title: Buildkite REST AccessToken Pipelines API
  description: 'Best-effort OpenAPI 3.1 description of the Buildkite REST API for organizations, pipelines,

    builds, jobs, agents, artifacts, annotations, clusters, queues, agent tokens,

    pipeline templates, rules, teams, and access tokens.


    Authentication is via a Bearer token issued from the Buildkite UI.

    '
  version: '2.0'
  contact:
    name: Buildkite
    url: https://buildkite.com/docs/apis/rest-api
servers:
- url: https://api.buildkite.com/v2
  description: Buildkite REST API v2
security:
- bearerAuth: []
tags:
- name: Pipelines
paths:
  /organizations/{org}/pipelines:
    parameters:
    - $ref: '#/components/parameters/Org'
    get:
      tags:
      - Pipelines
      summary: List pipelines
      operationId: listPipelines
      responses:
        '200':
          description: Pipelines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pipeline'
    post:
      tags:
      - Pipelines
      summary: Create pipeline
      operationId: createPipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
  /organizations/{org}/pipelines/{slug}:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/PipelineSlug'
    get:
      tags:
      - Pipelines
      summary: Get pipeline
      operationId: getPipeline
      responses:
        '200':
          description: Pipeline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
    patch:
      tags:
      - Pipelines
      summary: Update pipeline
      operationId: updatePipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineCreate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
    delete:
      tags:
      - Pipelines
      summary: Delete pipeline
      operationId: deletePipeline
      responses:
        '204':
          description: Deleted
  /organizations/{org}/pipelines/{slug}/archive:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/PipelineSlug'
    post:
      tags:
      - Pipelines
      summary: Archive pipeline
      operationId: archivePipeline
      responses:
        '200':
          description: Archived
  /organizations/{org}/pipelines/{slug}/unarchive:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/PipelineSlug'
    post:
      tags:
      - Pipelines
      summary: Unarchive pipeline
      operationId: unarchivePipeline
      responses:
        '200':
          description: Unarchived
  /organizations/{org}/pipelines/{slug}/webhook:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/PipelineSlug'
    post:
      tags:
      - Pipelines
      summary: Rotate webhook URL
      operationId: rotatePipelineWebhook
      responses:
        '200':
          description: Webhook
components:
  parameters:
    PipelineSlug:
      name: slug
      in: path
      required: true
      description: Pipeline slug.
      schema:
        type: string
    Org:
      name: org
      in: path
      required: true
      description: Organization slug.
      schema:
        type: string
  schemas:
    PipelineCreate:
      type: object
      required:
      - name
      - repository
      properties:
        name:
          type: string
        repository:
          type: string
        cluster_id:
          type: string
        configuration:
          type: string
        default_branch:
          type: string
        description:
          type: string
    Pipeline:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        web_url:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        repository:
          type: string
        cluster_id:
          type: string
        branch_configuration:
          type: string
        default_branch:
          type: string
        skip_queued_branch_builds:
          type: boolean
        provider:
          type: object
        builds_url:
          type: string
        badge_url:
          type: string
        created_at:
          type: string
          format: date-time
        archived_at:
          type:
          - string
          - 'null'
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token issued from your Buildkite Personal Access Tokens page.
